
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow:none;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,0.2); 
    border-radius: 3px;
}

body {
    margin:0px;
    height:100vh;
    width:100%;
    background:rgb(240,240,240);
    display:flex;
    flex-direction:column;
}

#toolbar {
    padding:6px 8px;
    padding-bottom:0px;
}

#slide_container {
    flex:1;
    display:flex;
    min-height:0;
}

#slide_deck {
    flex:1;
    display:flex;
    flex-wrap:wrap;
    overflow-y:auto;
}

#slide_viewer {
    display:none;
    margin:0px;
    height:100vh;
    width:100%;
    background:rgba(0,0,255,0.1);
}

.slide {
    border:1px solid rgba(220,220,220);
    height:45vh;
    width:45vw;
    display:inline-flex;
    flex-direction:column;
    margin:10px auto;
    overflow-y:auto;
    font-size:0.8rem;
}
h1,h2 {
    color:rgb(60,60,60);
}

.slide:not(.active):hover {
    border:1px solid rgba(200,200,200);
}
.slide-box {
    margin:auto;
    padding:30px;
    padding-top:0px;
    flex:1;
}
.slide-title {
    margin:1rem 2rem;
    margin-top:2rem;
    text-align:center;
}
.slide.active .slide-box {
    padding:60px;
    padding-top:20px;
}
.slide-box > ul,.slide-box > ol {
    padding-left:20px;
}

.slide-box.cols {
    display:flex;
    margin:0;
    flex:1;
    flex-direction:row;
}

.slide.active {
    z-index:20;
    height:100vh;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    margin:0px;
    border:0px;
    font-size:2rem;
}

.col {
    display:flex;
    flex-direction:column;
    flex:1;
    position:relative;
    margin-left:40px;
}
.slide-box img {
    max-height:20vh;
    max-width:40vw;
    object-fit: contain;
}
.slide.active img {
    max-height:50vh;
    max-width:80vw;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:25;
    padding:8px;
}

/*---*/
/*---Editor*/
#slide_editor {
    display:flex;
    display:none;
    flex:1;
    position:relative;
}

#ta_presentation {
    flex:1;
    padding:10px;
    border:0px;
    background:rgb(40,40,40);
    color:rgb(200,200,200);
    resize: none;
}

#close_editor_btn {
    position:absolute;
    top:-2px;
    right:16px;
    z-index:100;
    font-size:1.6rem;
    padding:2px;
    color:white;
}

/*---*/
/*---Present Toolbar*/
#present_toolbar {
    position:fixed;
    bottom:4px;
    right:4px;
    z-index:100;
}
.tbtn {
    border:0px;
    background:none;
    opacity:0.2;
    cursor:pointer;
}
.tbtn:hover {
    opacity:0.6;
}
.tbtn svg {
    height:20px;
    width:20px;
}

#close_btn {
    position:absolute;
    top:0px;
    right:12px;
    z-index:100;
    font-size:2rem;
    padding:2px;
}

/*---*/
/*---Theme*/
@font-face {
    font-family: 'oxygen';
    src: url(oxygen.ttf) format('truetype');
}

a, a:visited {color:rgb(50,117,190);text-decoration:none;}
a:hover {color:rgb(29,79,134);}

.slide {
    background:white;
    color:rgb(80,80,80);
    font-family:oxygen;
}
h1,h2 {
    color:rgb(60,60,60);
}
table{border:1px solid rgb(220,220,220);border-collapse:collapse;} td p, th p {margin:0;}
td, th {border:1px solid rgb(220,220,220);padding:3px 6px;} th {background:rgb(240,240,240);}
li.checkbox,li.cancelled,li.future {list-style-type: none;margin-left:-25px;}
li.cancelled {text-decoration:line-through;color:gray;}
li.future {font-style:italic;color:gray;}
li.checked {color:gray;} 
.slide ul,.slide ol {
    margin:0.1rem 0rem;
}
.slide p {
    margin:1rem 0rem;
}
.slide h3, .slide h4 {
    margin:1rem 0rem;
    margin-bottom:0rem;
}
.slide h2 {
    margin:0.5rem 0rem;
}
.slide pre, .slide .codeblock {
  background: whitesmoke;
  border-radius: 4px;
  border: 1px solid gainsboro;
  padding: 0.8em;
  box-sizing: border-box;
}

.slide pre code {
  background: none;
  border: none;
  padding: 0px;
  display: block;
}

.slide code, .slide .code {
  padding: 0.1em 0.3em;
  background: whitesmoke;
  border-radius: 4px;
  border: 1px solid gainsboro;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

footer {
    font-size:0.9;
    color:rgba(100,100,100,0.6);
    font-family:oxygen;
}
footer p {
    margin:0;
}